# $ProjectHeader: volitve 0.8 Tue, 09 Sep 1997 00:58:50 -2200 andrej $
#
# $Id: .htaccess 1.3 Fri, 05 Sep 1997 14:43:33 +0000 andrej $
#
# Apache nastavitve za CGI direktorij
# Don't turn off the interpreter:
PythonPersistent On
SetHandler python-cgi-script
PythonPath /home/andrej/sola/volitve/src/py_lib
#PythonVerbose on
#PythonDebug on
