# $ProjectHeader: volitve 0.26 Sat, 08 Nov 1997 08:02:11 +0100 andrej $
#
# $Id: .htaccess 1.2 Mon, 22 Sep 1997 13:21:03 +0000 andrej $
#
# Apache nastavitve za direktorij uporabniki

AuthUserFile  /home/andrej/sola/volitve/src/admin/cfg/htpasswd
AuthGroupFile /dev/null
AuthName      "Borza kandidatov"
AuthType      Basic

# hack: zmotil sem se v imenu:
#DirectoryIndex status.html
 
Options All
<Limit GET POST PUT>
require valid-user
</Limit>

# S tem prepreèimo dostop do tega direktorija:
RewriteEngine On
RewriteRule !.+ /trg/vhod 