# Access:
AuthUserFile  /home/andrej/sola/volitve/src/admin/cfg/htpasswd
AuthGroupFile /dev/null
AuthName      "Borza kandidatov"
AuthType      Basic
 
Options All
<Limit GET POST PUT>
require valid-user
</Limit>

<files pregled.html>
header set Refresh 10
header set Pragma no-cache
</files>
